.counterInput {
  display: flex;
  align-items: center;
}

.counterInput-button {
    background-color: #fff;
    border: 0;
    color: #000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.counterInput-display {
  margin: 0 10px;
  background-color: #fff;
  color: #000;
  height: 18px;
  width: 85px;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 16px !important;;
}
